* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header_logo {
    width: 100px;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 5;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
    margin-left: 100px;
}

.mobile_nav {
    display: none;
}

@media (max-width: 500px) {
    .navbar ul {
        display: none;
    }

    .mobile_nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        opacity: .8;
        height: 100vh;
    }

    .mobile_nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;        
        height: 400px;
    }

    .mobile_nav ul li {
        margin-bottom: 10px;
    }
}